.l-contents{
	width: 100%;
	height: auto;
	&.-img{// 背景画像のみ
		width: 100%;
		height: auto;
	}
	&.-img-bg{// 背景画像＋コンテンツ
		position: relative;
		.imgBox{// 背景画像
			width: 100%;
			height: auto;
			&.-parallax{//パラドックス背景の場合、ここは透明画像
				justify-content: center;
				align-items: center;

				background-attachment: fixed;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				&.-parallax_bg{//ここに背景を指定する。
					background-image: url(../images/bg/header_bg_s.jpg);
					@include mq(tb){
						background-image: url(../images/bg/wood_bg.jpg);
					}
				}
			}
		}
		.l-contentsBox{// コンテンツ要素
			width: 100%;
			position: absolute;
			
			//サイト右側中段に表示 （PCのみ）
			&.-right-topBtn{
				top: 2.5%;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				a{
					display: block;
					// padding: 8% 29%;
					padding: 20% 32%;
				}
			}
			// サイト下部に表示（SPのみ）
			&.-right-btmBtn{
				top: 52.5%;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				a{
					display: block;
					// padding: 8% 29%;
					padding: 20% 32%;
				}
			}
			//サイト下部に表示 （SPのみ）
			&.-bottom-rightBtn{
				top: 50%;
				left: 75%;
				transform: translate(-50%,-50%);
				width: 50%;
				a{
					display: block;
					padding: 3% 0;
				}
			}
			// サイト下部に表示（SPのみ）
			&.-bottom-leftBtn{
				top: 50%;
				left: 25%;
				transform: translate(-50%,-50%);
				width: 50%;
				a{
					display: block;
					padding: 3% 0;

				}
			}
			&.-header-contact{
				@include mq(sp){
					top: 53%;
					right: 14%;
					transform: translateY(-50%);
					width: 42%;
				}
			}
			// スライダー
			&.-setsubi-slider{

				@include mq(sp){
					width: 80%;
					top: 93.8%;
					left: 50%;
					transform: translateX(-50%);
				}
				@include mq(tb){
					width: 29%;
					top: 86.5%;
					left: 53%;
				}
			}

			// 区画
			&.-kukaku_btm{
				top: 89%;
				left: 46.1%;
				width: 50%;
				@include mq(tb){
					top: 70%;
					left: 17.1%;
					width: 15%;
				}
			}
			// プラン
			&.-plan_btn{
				top: 88%;
				left: 50%;
				transform: translateX(-50%);
				width: 95%;
				@include mq(tb){
					top: 75%;
					left: 61%;
					width: 46%;
				}
			}
			// 主要構造材
			&.-wood_content{
				@include mq(tb){
					top: 5%;
					left: 50%;
					transform: translateX(-50%);
				}
			}
			&.-wood_column02{
				top: 80.5%;
				left: 50%;
				transform: translateX(-50%);
				@include mq(tb){
					top: 77%;

				}
			}

			.l-contentsBox--wrapper{
				width: 100%;
				height: auto;
				@include mq(tb){
					width: 100%;
					max-width: 1315px;
					margin: auto;
				}
			}
			&.-text{
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				&_02{
					top: 48%;
					left: 50%;
					transform: translate(-50%,-50%);
				}
			}
		}
	}
	// 基本的にSliderは、「Slick or Swiper」を使用すること
	// 場所：「Scss/introduction内」
	&.-slider{
		//下記スマホ以上
		@include mq(tb){
		}
	}
	// 設備・仕様ページの【 戻る 】
	&.-btnArea{
		&.-return{
			a{
				display: block;
				width: 20%;
				border-radius: 5px;
				overflow: hidden;
				margin: auto;
				text-align: center;
				box-shadow: 1px 1px gray;
				@include mq(tb){
					width: 10%;
				}
				@include mq(tb-pc1400){
					width: 6%;
				}
			}
		}
	}
}


